Lesson 1
------------

In [1]:
print ("Sup world")

Sup world

In [15]:
%load_ext watermark
%watermark -v -p jupyterlab

The watermark extension is already loaded. To reload it, use:
  %reload_ext watermark
CPython 3.7.7
IPython 7.13.0

jupyterlab 1.2.6

In [ ]:
Bash	PowerShell
cd	cd
mv	mv
pwd	pwd
ls -al	ls -Hidden
rm -rf	del -Force -Recurse .\mydirectory
more	more
less	Does not exist
head -5 myfile.txt	gc myfile.txt -head 5
tail -5 myfile.txt	gc myfile.txt -tail 5
cat ./dir/myfile.txt	!type "dir\myfile.txt"

In [11]:
%run zen.py

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.

In [ ]:
# Would show 9 if this were the last line, but it is not, so shows nothing
b=4 + 5

# I hope we see 11.
a=5 + 6

print (a+b)

In [17]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

Lesson 3
----------

In [21]:
type('Hello World')

str

In [23]:
print ('1')

1

In [24]:
type(4.5e-7)

float

In [26]:
4.5e-7*1000000

0.44999999999999996

In [31]:
my_str="""lalalalalala
tralalalalalal"""

print (my_str)

lalalalalala
tralalalalalal

In [32]:
my_str='lalalalalala
tralalalalalal'

print (my_str)

SyntaxError: EOL while scanning string literal (<ipython-input-32-d9da7c0c146e>, line 1)

In [34]:
'{0:b}'.format(69)

'1000101'

In [35]:
'{0:d}'.format(1000101)

'1000101'

In [40]:
15%2

1

In [41]:
2.1 + 3.2

5.300000000000001

In [43]:
5.3-(2.1+3.2)

-8.881784197001252e-16

In [47]:
2.1*2.0

4.2

In [49]:
try:
    print(2/0)
except ZeroDivisionError:
    print("can't div by 0 yo")

can't div by 0 yo

In [50]:
12.1%3

0.09999999999999964

In [54]:
('Hello ' + 'World. ') *5

'Hello World. Hello World. Hello World. Hello World. Hello World. '

In [60]:
0**0

1

In [67]:
a=69
b=420
type(a)
type(a/b)

float

In [69]:
print (type(a))

<class 'float'>

In [68]:
print(type(a), a)

a=a+4.1

print(type(a), a)

<class 'int'> 69
<class 'float'> 73.1

In [71]:
s= '42'
i= int(s)
print (i, type(i))

42 <class 'int'>

In [72]:
str(s)

'42'

In [73]:
int (s)

42

In [74]:
int(2.69)

2

In [75]:
print (str(s) + str(i))

4242

In [77]:
%watermark -v -p jupyterlab

CPython 3.7.7
IPython 7.13.0

jupyterlab 1.2.6

Lesson 4
-

In [78]:
type(True)

bool

In [79]:
"MJ" > "LeBron"

True

In [83]:
ord('1')

49

In [84]:
ord('2')

50

In [85]:
4<6<6.00001<9.3

True

In [87]:
4<2<4

False

In [88]:
a=5.6
b=a
c=b
c is a

True

In [91]:
not (7 == 7 and 7.6 == 9.1)

True

In [103]:
codon = 'UGGA'

stop = ('UAA', 'UAG', 'UGA')

s='UAA'
#print (stop)

if codon == 'AUG':
    print('This codon is the start codon.')
else:
    if codon in stop:
    #if codon == 'UAA' or codon == 'UAG' or codon == 'UGA':
        print('This codon is a stop codon.')
    else:
        print('This codon is neither a start nor stop codon.')

This codon is neither a start nor stop codon.

Lesson 5
-

In [1]:
listy=[1,2,3,4,5,6,7,8,9,10]
type(listy)

list

In [5]:
my_str= "A string"
length(list(my_str))

NameError: name 'length' is not defined

In [18]:
codon=input(int)

print (type(codon))
stop = ('UAA', 'UAG', 'UGA')

s='UAA'
#print (stop)

if codon == 'AUG':
    print('This codon is the start codon.')
else:
    if codon in stop:
    #if codon == 'UAA' or codon == 'UAG' or codon == 'UGA':
        print('This codon is a stop codon.')
    elif (type(codon)==int):
        print ('This is a number yo')
    else:
        print('This codon is neither a start nor stop codon.')

<class 'int'> 12

<class 'str'>
This codon is neither a start nor stop codon.

In [23]:
m=[1,2.4,5,'a string']
i=0
while (i<4):
    print (m[i])
    i +=1

1
2.4
5
a string

In [59]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_list[-1]

10

In [46]:
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [48]:
print (my_list[-2:2:-2])

[9, 7, 5, 3]

In [52]:
my_list[4]='4'

my_list

[0, 1, 2, 3, '4', 5, 6, 7, 8, 9, 10]

In [55]:
a=6 
print(id(a))

a=7
print(id(a))

140729372680752
140729372680784

In [60]:
print (id(my_list[0]))

my_list[0]= '0'
print (id(my_list[0]))

140729372680560
2245317449904

In [65]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list_2 = my_list     # copy of my_list?
my_list[0] = 'a'

my_list_2

['a', 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list_2 = my_list[:]
my_list_2[0] = my_list[0]+2

my_list_2

[3, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
mtuple=(0,3,5,9,42)

nmtuple=(0)

type(mtuple), type(nmtuple)

(tuple, int)

In [80]:
mlist=list(mtuple)

type(mlist), type(mtuple)

(list, tuple)

In [85]:
#a=[]

a=mtuple

a[0], a[1], a[2]

(0, 3, 5)

In [87]:
mtuple_2=mtuple

mtuple_2=mtuple_2 + (10,12,15)
mtuple, mtuple_2

((0, 3, 5, 9, 42), (0, 3, 5, 9, 42, 10, 12, 15))

In [89]:
mlist_2=mlist

mlist_2=mlist_2 + [10,12,14]
mlist, mlist_2

([0, 3, 5, 9, 42], [0, 3, 5, 9, 42, 10, 12, 14])

In [92]:
my_tuple = (1, 2, 3)
a = my_tuple
type(a)

tuple

Lesson 6
-

In [93]:
# The sequence we want to analyze
seq = 'GACAGACUCCAUGCACGUGGGUAUCUGUC'

# Initialize GC counter
n_gc = 0

# Initialize sequence length
len_seq = 0

# Loop through sequence and count G's and C's
for base in seq:
    len_seq += 1
    if base in 'GCgc':
        n_gc += 1
        
# Divide to get GC content
n_gc / len_seq

0.5517241379310345

In [94]:
len(seq)

29

In [99]:
#for i in range(10):
    #print(i, end='  ')
    
for i in range(0,10,3):
    print(i, end='  ')

0  3  6  9

In [100]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
mintegers=[1,2,3,4,5]

for i in range(len(mintegers)):
    mintegers[i] *=2
    
mintegers

[2, 4, 6, 8, 10]

In [102]:
seq

'GACAGACUCCAUGCACGUGGGUAUCUGUC'

In [105]:
# Loop through sequence and print index of G's
for i, base in enumerate(seq):
    if base in 'Gg':
        print(i, base, end='  ')

0 G  4 G  12 G  16 G  18 G  19 G  20 G  26 G

In [106]:
# Print index and identity of bases
for i, base in enumerate(seq):
    print(i, base)

0 G
1 A
2 C
3 A
4 G
5 A
6 C
7 U
8 C
9 C
10 A
11 U
12 G
13 C
14 A
15 C
16 G
17 U
18 G
19 G
20 G
21 U
22 A
23 U
24 C
25 U
26 G
27 U
28 C

In [109]:
names = ('Lloyd', 'Holiday', 'Heath')
positions = ('MF', 'MF', 'F')
numbers = (10, 12, 17)

for num, pos, name in zip(numbers, positions, names):
    a=(num, name, pos)

10 Lloyd MF
12 Holiday MF
17 Heath F

In [112]:
count_up = ('ignition', 1, 2, 3, 4, 5, 6, 7, 8 ,9, 10)

for count in reversed(count_up):
    print(count)

10
9
8
7
6
5
4
3
2
1
ignition

Lesson 7
-

In [113]:
# Define start codon
start_codon = 'AUG'

# Scan sequence until we hit the start codon
for i in range(len(seq)):
    if seq[i:i+3] == start_codon:
        print('The start codon starts at index', i)
        break
else:
    print('Codon not found in sequence.')

The start codon starts at index 10

In [115]:
def ratio(x, y):
    """The ratio of `x` to `y`."""
    return x / y

SyntaxError: 'return' outside function (<ipython-input-115-26911418d2de>, line 4)

In [117]:
def think_too_much():
    """Express Caesar's skepticism about Cassius"""
    print("""Yond Cassius has a lean and hungry look,
He thinks too much; such men are dangerous.""")

In [119]:
#return_val = think_too_much()

# Print a blank line
print()

# Print the return value
print(return_val)

None

In [122]:
def complement_base(base):
    """Returns the Watson-Crick complement of a base."""
    if base in 'Aa':
        return 'T'
    elif base in 'Tt':
        return 'A'
    elif base in 'Gg':
        return 'C'
    else:
        return 'G'


def reverse_complement(seq):
    """Compute reverse complement of a sequence."""
    # Initialize reverse complement
    rev_seq = ''
    
    # Loop through and populate list with reverse complement
    for base in reversed(seq):
        rev_seq += complement_base(base)
        
    return rev_seq

In [123]:
reverse_complement('GCAGTTGCA')

'TGCAACTGC'

In [124]:
def display_complements(seq):
    """Print sequence above its reverse complement."""
    # Compute the reverse complement
    rev_comp = reverse_complement(seq)
    
    # Print template
    print(seq)
    
    # Print "base pairs"
    for base in seq:
        print('|', end='')
    
    # Print final newline character after base pairs
    print()
            
    # Print reverse complement
    for base in reversed(rev_comp):
        print(base, end='')
        
    # Print final newline character
    print()

In [125]:
seq = 'GCAGTTGCA'
display_complements(seq)

GCAGTTGCA
|||||||||
CGTCAACGT

In [126]:
def complement_base(base, material='DNA'):
    """Returns the Watson-Crick complement of a base."""
    if base in 'Aa':
        if material == 'DNA':
            return 'T'
        elif material == 'RNA':
            return 'U'
    elif base in 'TtUu':
        return 'A'
    elif base in 'Gg':
        return 'C'
    else:
        return 'G'
    
def reverse_complement(seq, material='DNA'):
    """Compute reverse complement of a sequence."""
    # Initialize reverse complement
    rev_seq = ''
    
    # Loop through and populate list with reverse complement
    for base in reversed(seq):
        rev_seq += complement_base(base, material=material)
        
    return rev_seq

IndentationError: expected an indented block (<ipython-input-126-afa1898baf39>, line 15)

In [127]:
def is_almost_right(a, b, c):
    """
    Checks to see if a triangle with side lengths
    `a`, `b`, and `c` is right.
    """
    
    # Use sorted(), which gives a sorted list
    a, b, c = sorted([a, b, c])
    
    # Check to see if it is almost a right triangle
    if abs(a**2 + b**2 - c**2) < 1e-12:
        return True
    else:
        return False

Lesson 8
-

In [130]:
my_str = 'The Dude abides.'

print(my_str[5])
print(my_str[0:6])
print(my_str[::2])
print(my_str[::-1])

u
The Du
TeDd bds
.sediba eduD ehT

In [131]:
STRING METHODS

# Define sequence
seq = 'GACAGACUCCAUGCACGUGGGUAUCAUGUC'

# Count G's and C's
seq.count('G') + seq.count('C')

16

In [132]:
seq.count('GAC')

2

In [133]:
seq.count('nonsense')

0

In [135]:
seq.find('AUG'), seq.rfind('AUG')

(10, 25)

In [139]:
b='LeBron James'
print(b)
b=b.lower()

print(b)

LeBron James
lebron james

In [141]:
seq.replace('U','T'), seq

('GACAGACTCCATGCACGTGGGTATCATGTC', 'GACAGACUCCAUGCACGUGGGUAUCAUGUC')

In [142]:
word_tuple = ('The', 'Dude', 'abides.')
' '.join(word_tuple)

'The Dude abides.'

The format method()
-

In [143]:
my_str = """
Let's do a Mad Lib!
During this bootcamp, I feel {adjective}.
The instructors give us {plural_noun}.
""".format(adjective='truculent', plural_noun='haircuts')

print(my_str)

Let's do a Mad Lib!
During this bootcamp, I feel truculent.
The instructors give us haircuts.

In [145]:
#string conversions

print('There are {n:d} states in the US.'.format(n=50))
print('Your file number is {n:d}.'.format(n=23))
print('π is approximately {pi:f}.'.format(pi=3.14))
print('e is approximately {e:.8f}.'.format(e=2.7182818284590451))
print("Avogadro's number is approximately {N_A:e}.".format(N_A=6.022e23))
print('ε₀ is approximately {eps_0:.16e} F/m.'.format(eps_0=8.854187817e-12))
print('That {thing:s} really tied the room together.'.format(thing='rug'))

There are 50 states in the US.
Your file number is 23.
π is approximately 3.140000.
e is approximately 2.71828183.
Avogadro's number is approximately 6.022000e+23.
ε₀ is approximately 8.8541878170000005e-12 F/m.
That rug really tied the room together.

In [146]:
#f-strings

n_states = 50
file_number = 23
pi = 3.14
e = 2.7182818284590451
N_A = 6.022e23
eps_0=8.854187817e-12
thing = 'rug'

print(f'There are {n_states} states in the US.')
print(f'Your file number is {file_number}.')
print(f'π is approximately {pi}.')
print(f'e is approximately {e:.8f}.')
print(f"Avogadro's number is approximately {N_A}.")
print(f'ε₀ is approximately {eps_0} F/m.')
print(f'That {thing} really tied the room together.')

There are 50 states in the US.
Your file number is 23.
π is approximately 3.14.
e is approximately 2.71828183.
Avogadro's number is approximately 6.022e+23.
ε₀ is approximately 8.854187817e-12 F/m.
That rug really tied the room together.